<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />

</head>
<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody><tr>
<td style="padding:20px 11px 40px 11px">
<table width="700" border="0" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto" bgcolor="#ffffff">
		<tbody><tr>
			<td width="700" valign="top">
<table width="648" border="0" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto" bgcolor="#ffffff">
	<tbody>
		<tr>
			<td>
				<img src="http://s23.postimg.org/951snyn2z/top_mail.gif" alt="" width="648" height="122" border="0" style="display:block;margin:0">
			</td>
		</tr>
	</tbody>
</table>
<table width="630" border="0" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto;background-color:#f1f1f1">
	<tbody>
		<tr>
		<td>
			<table width="490" border="0" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto;background-color:#f1f1f1">
				<tbody>
					<tr>
						<td width="490" align="left" style="padding:0 0 22px 0">
							<div style="font-family:Lucida Grande,Lucida Sans,Lucida Sans Unicode,Arial,Helvetica,Verdana,sans-serif;color:#333333;font-size:12px;line-height:1.25em;text-align: justify">
							<span style="font-weight:bold">
							${greetings} ${userName},
							</span>
							<br><br>
							Registraste <a href="mailto:${userMail}" target="_blank">${userMail}</a> como email de contacto para tu cuenta Abstracta.com.ve. 
							Para completar el proceso, solo necesitamos verificar que esta cuenta te pertenece. 
							Simplemente haz click en este enlace e ingresa con tu usuario y clave 
							<br><br>
							<a href="https://192.168.1.23:8443/Cuenta/Confirmar?address=${userMail}&token=${confirmToken}" style="color:#0088cc" target="_blank">Confirmar ahora</a>
							<br><br>
							<b>
							¿Te preguntas por qué recibiste este correo?
							</b>
							<br>
							Este correo fue enviado porque alguien registró esta direccion en su cuenta Abstracta.com.ve. 
							si tu no lo hiciste, no te preocupes. Tu dirección de correo no puede ser usada sin tu confirmación.
							<br><br>Para más información, visita nuestra
							<a href="http://192.168.1.23:8080/Servicio-Al-Cliente/PreguntasFrecuentes" style="color:#0088cc" target="_blank">preguntas frecuentes</a>.
							<br><br>Gracias,
							<br>Equipo Web de Abstracta
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</td>
		</tr>
		<tr>
		<td style="padding-top:30px">
			<img src="http://s27.postimg.org/hri6wpun7/bottom_mail.gif" alt="" width="630" height="21" border="0" style="display:block;margin:0">
		</td>
		</tr>
</tbody>
</table>
<table width="490" border="0" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto">
	<tbody>
	<tr><td style="padding:10px 20px 10px 0">
		<div style="font-family:Geneva,Verdana,Arial,Helvetica,sans-serif;font-size:9px;line-height:1.34em;color:#999999">
		1999-2014 ABSTRACTA. Todos los derechos reservados. 
		<a href="http://192.168.1.23:8080" style="font-family:Geneva,Verdana,Arial,Helvetica,sans-serif;font-size:9px;line-height:1.34em;color:#999999;text-decoration:underline" target="_blank">Abstracta.com.ve</a> 
		</div>
	
		<br>
	</td></tr>
	</tbody>
</table>
</td>
</tr>
</tbody>
</table>

</body>
</html>
